.App {
  text-align: center;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

a,
a:focus,
a:active,
a:visited {
  color: #fff;
  text-decoration: none;
}

.hero-header {
  font-size: 3em;
  margin: 0;
  padding-top: 350px;
}

.hero-sub-header {
  font-size: 1.5em;
}

.hero-section {
  position: relative;
}

.header-nav {
  margin: 0 auto;
  padding: 5px 0px;
}

.nav-holder {
  background-color: #190933;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.about-container {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

ul li:not(:last-child) {
  border-right: 1px solid gray;
  margin-right: 90px;
  padding-right: 90px;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projects-section {
  width: 45%;
  margin: 0 auto;
  background-color: #fff;
}
